﻿@model AvitoProject.ViewModels.LoginViewModel
    <div>

        <a asp-action="Register" asp-controller="Account" class="btn btn-outline-primary">Регистрация</a>
        <h3>Вход на сайт</h3>
    </div>
    <div>
        <form asp-action="Login" asp-controller="Account">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label col-md-3">Введите Email/Логин</label>
                    <input type="text" class="form-group" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label col-md-3">Введите пароль</label>
                    <input asp-for="Password" class="form-group" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Войти" class="btn btn-dark" />
                </div>
            </div>
        </form>
    </div>
