﻿@model AvitoProject.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Registration new profile</h2>
<hr />

<div class="col-md-10">
    <form method="post" asp-controller="Account" asp-action="Register">
        <div class="form-group">
            <label asp-for="Name" class="control-label col-md-3"></label>
            <input asp-for="Name" class="form-group" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label col-md-3"></label>
            <input asp-for="Email" class="form-group" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label col-md-3"></label>
            <input asp-for="Phone" class="form-group" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="City" class="control-label col-md-3"></label>
            <input asp-for="City" class="form-group" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label col-md-3"></label>
            <input asp-for="Password" class="form-group" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PassConfirm" class="control-label col-md-3"></label>
            <input asp-for="PassConfirm" class="form-group" />
            <span asp-validation-for="PassConfirm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Регистрация" class="btn btn-success align-content-center" />
        </div>
    </form>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Вернуться на главную</a>
</div>

