﻿@model AvitoProject.Models.AdInfo

@{ 
    ViewData["Title"] = "Create Ad";
}
<h3>New Ad</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Название</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Описание</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Profile.Id" class="control-label">Подавец</label>
                    <select asp-for="Profile.Id" class="form-control" asp-items="ViewBag.Profiles" ></select>
                    <span asp-validation-for="Profile" class="text-danger"></span>
                </div>
                <a></a>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>
