﻿@model IEnumerable<AdInfo>

@{
    ViewData["Title"] = "Index";
}

<div class="float-md-right">
    @if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Выход" />
        </form>
    }
</div>
<div>
    <a asp-controller="Account" asp-action="Login" class="btn alert-light">Войти</a>
    <a asp-action="Create" class="btn alert-light">Добавить заявку</a>
</div>


<div class="text-center">
    <table class="table table-hover col-md-10">
        <thead>
            <tr class="align-content-center">
                <th>Название</th>
                <th>Описание</th>
                <th>Дата создания</th>
                <th>Дата изменения</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.CreationDate</td>
                    <td>@item.ChangeDate</td>
                    <td>@item.Profile.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
